# Lab 1

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-312/blob/main/book/labs/lab_01.ipynb)

## Exercise 1: Variable Assignment and Basic Operations

Create variables to store the following geospatial data:

- The latitude and longitude of New York City: 40.7128, -74.0060.
- The population of New York City: 8,336,817.
- The area of New York City in square kilometers: 783.8.

Perform the following tasks:

1. Calculate and print the population density of New York City (population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [5]:
# Import a few packages
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import matplotlib.pyplot as plt
import folium
import os
pd.options.display.max_rows = 300

In [2]:
print(os.getcwd())
#os.chdir('G:/My Drive/Clark')

G:\My Drive\Clark\GIS Tutorials\Geog-312\Geog-312\Labs

In [3]:
# Define the data
data = {
    "City": ["New York City"],
    "Latitude": [40.7128],
    "Longitude": [-74.0060],
    "Population": [8336817],
    "Area_km2": [783.8]
}

In [7]:
# Create the geometry
geometry = [Point(lon, lat) for lat, lon in zip(data["Latitude"], data["Longitude"])]

# Create the GeoDataFrame
gdf = gpd.GeoDataFrame(data, geometry=geometry)

# Set the CRS (WGS 84)
gdf.set_crs(epsg=4326, inplace=True)

gdf

,City,Latitude,Longitude,Population,Area_km2,geometry
0,New York City,40.7128,-74.006,8336817,783.8,POINT (-74.006 40.7128)

In [8]:
# 1. Calculate and print the population density of New York City (population per square kilometer).

# Calculate population density
gdf["Population_Density"] = gdf["Population"] / gdf["Area_km2"]

# Print the population density
print(f"Population Density of New York City: {gdf.loc[0, 'Population_Density']:.2f} people per square kilometer")

Population Density of New York City: 10636.41 people per square kilometer

In [9]:
# 2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

# Extract latitude and longitude
latitude = gdf.loc[0, "Latitude"]
longitude = gdf.loc[0, "Longitude"]

# Print the coordinates in the desired format
print(f"Latitude: {latitude}, Longitude: {longitude}")

Latitude: 40.7128, Longitude: -74.006

## Exercise 2: Working with Strings

Create a string variable to store the name of a city, such as "San Francisco". Perform the following operations:

1. Convert the string to lowercase and print the result.
2. Convert the string to uppercase and print the result.
3. Replace "San" with "Los" in the city name and print the new string.

In [10]:
city_name = "San Francisco"

# Print the variable to verify
print(city_name)

San Francisco

In [11]:
# 1. Convert the string to lowercase and print the result.

# Convert the city name to lowercase
city_name_lower = city_name.lower()

# Print the result
print(city_name_lower)

san francisco

In [12]:
# 2. Convert the string to uppercase and print the result.

# Convert the city name to lowercase
city_name_upper = city_name.upper()

# Print the result
print(city_name_upper)

SAN FRANCISCO

In [14]:
# 3. Replace "San" with "Los" in the city name and print the new string.

# Replace "San" with "Los" in the city name
new_city_name = city_name.replace("San", "Los")

# Print the new string
print(new_city_name)

Los Francisco

## Exercise 3: Using Lists

Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

- New York City: (40.7128, -74.0060)
- Los Angeles: (34.0522, -118.2437)
- Chicago: (41.8781, -87.6298)

Perform the following tasks:

1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
2. Print the entire list of cities.
3. Slice the list to print only the first two cities.

In [57]:
# List of tuples with city names and their coordinates
cities = [
    ("New York City", (40.7128, -74.0060)),
    ("Los Angeles", (34.0522, -118.2437)),
    ("Chicago", (41.8781, -87.6298))
]

# Print the list of tuples
print(cities)

[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437)), ('Chicago', (41.8781, -87.6298))]

In [58]:
# 1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.

# Add Miami to the list of cities
cities.append(("Miami", (25.7617, -80.1918)))

In [59]:
# 2. Print the updated list

print(cities)

[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437)), ('Chicago', (41.8781, -87.6298)), ('Miami', (25.7617, -80.1918))]

In [60]:
# 3. Slice the list to print only the first two cities.

# Print only the first two cities
first_two_cities = cities[:2]

print(first_two_cities)

[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437))]

## Exercise 4: Using Tuples

Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [21]:
# Create a tuple for the coordinates of the Eiffel Tower
tourist_attractions_coords = [
    ("Eiffel Tower", (48.8584, 2.2945))
]

In [24]:
# 1. Access and print the latitude and longitude values from the tuple.

# Access the coordinates of the Eiffel Tower
eiffel_tower_coords = tourist_attractions_coords[0][1]

# Print the latitude and longitude
print(f"Eiffel Tower latitude: {eiffel_tower_coords[0]}, Eiffel Tower longitude: {eiffel_tower_coords[1]}")

Eiffel Tower latitude: 48.8584, Eiffel Tower longitude: 2.2945

In [25]:
# 2. Try to change the latitude value to 48.8585. What happens? Explain why.

# If you try to change the latitude value directly in the tuple, you will encounter an error. 
# This is because tuples in Python are immutable, meaning their values cannot be changed after they are created.

# Attempt to change the latitude
tourist_attractions_coords[0][1][0] = 48.8585  # This will raise an error

TypeError: 'tuple' object does not support item assignment

## Exercise 5: Working with Sets

Create a set of countries you have visited, such as {"USA", "France", "Germany"}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [31]:
# Create a set of countries visited
countries_visited = {"USA",
                     "Mexico",
                     "Canada",
                     "Peru",
                     "United Kingdom",
                     "France",
                     "Germany",
                     "Belgium",
                     "Netherlands",
                     "Denmark",
                     "Spain",
                     "Andorra",
                     "Switzerland",
                     "Italy",
                     "Greece",
                     "Croatia",
                     "Bulgaria",
                     "Romania",
                     "Turkey",
                     "Bosnia",
                     "Serbia",
                     "Morocco",
                     "Senegal",
                     "Gambia",
                     "Guinea-Bissau",
                     "Guinea",
                     "South Africa",
                     "Eswatini"
                    }

# Print the set
print(countries_visited)

{'Turkey', 'Mexico', 'Guinea', 'Bosnia', 'Italy', 'Switzerland', 'Greece', 'Bulgaria', 'Serbia', 'Canada', 'Belgium', 'Morocco', 'Croatia', 'Senegal', 'Peru', 'Guinea-Bissau', 'Netherlands', 'Spain', 'Romania', 'France', 'Germany', 'USA', 'Denmark', 'Andorra', 'United Kingdom', 'Gambia'}

In [32]:
# 1. Add a new country to the set.

# Add a new country to the set
countries_visited.add("Ivory Coast")

# Print the updated set
print(countries_visited)

{'Turkey', 'Mexico', 'Guinea', 'Bosnia', 'Italy', 'Switzerland', 'Greece', 'Bulgaria', 'Serbia', 'Canada', 'Belgium', 'Morocco', 'Croatia', 'Ivory Coast', 'Senegal', 'Peru', 'Guinea-Bissau', 'Netherlands', 'Spain', 'Romania', 'France', 'Germany', 'USA', 'Denmark', 'Andorra', 'United Kingdom', 'Gambia'}

In [33]:
# 2. Try to add the same country again. What happens?

# It simply ignores the duplicate, because sets do not allow duplicate values

# Add a new country to the set
countries_visited.add("Ivory Coast")

In [35]:
# Print the updated set

# Ivory coast is still listed just once
print(countries_visited)

{'Turkey', 'Mexico', 'Guinea', 'Bosnia', 'Italy', 'Switzerland', 'Greece', 'Bulgaria', 'Serbia', 'Canada', 'Belgium', 'Morocco', 'Croatia', 'Ivory Coast', 'Senegal', 'Peru', 'Guinea-Bissau', 'Netherlands', 'Spain', 'Romania', 'France', 'Germany', 'USA', 'Denmark', 'Andorra', 'United Kingdom', 'Gambia'}

## Exercise 6: Working with Dictionaries

Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: "Amazon River"
- Length: 6400 km
- Countries: ["Brazil", "Peru", "Colombia"]

Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 m³/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [36]:
# Create a dictionary for the Amazon River
river_info = {
    "Name": "Amazon River",
    "Length": 6400,  # in kilometers
    "Countries": ["Brazil", "Peru", "Colombia"]
}

# Print the dictionary
print(river_info)

{'Name': 'Amazon River', 'Length': 6400, 'Countries': ['Brazil', 'Peru', 'Colombia']}

In [37]:
# 1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 m³/s).

# Add average discharge in cubic meters per second (m³/s) to the river_info dictionary
river_info["Average Discharge"] = 209000

In [40]:
# 2. Update the length of the river to 6992 km.

# Update "Length"
river_info["Length"] = 6992

In [41]:
# 3. Print the dictionary.

# Print the dictionary
print(river_info)

{'Name': 'Amazon River', 'Length': 6992, 'Countries': ['Brazil', 'Peru', 'Colombia'], 'Average Discharge': 209000}

## Exercise 7: Nested Data Structures

Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

- Name: "Tokyo"
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)

Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city's latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [43]:
# Create new dictionary for city data
city_info = {
    "Name": "Tokyo",
    "Population": 13515271,  # in kilometers
    "Coordinates": (35.6895, 139.6917)
}
print(city_info)

{'Name': 'Tokyo', 'Population': 13515271, 'Coordinates': (35.6895, 139.6917)}

In [46]:
# 1. Access and print the population of the city.

print("Tokyo Population:", city_info['Population'])

Tokyo Population: 13515271

In [48]:
# 2. Access and print the city's latitude.

# Print second item of key 'Coordinates'
print("Tokyo Latitude:", city_info['Coordinates'][0])

Tokyo Latitude: 35.6895

In [49]:
# 3. Update the population to 14,000,000 and print the updated dictionary.

# Update 'Population'
city_info['Population'] = 14000000

# Print updated dictionary
print(city_info)

{'Name': 'Tokyo', 'Population': 14000000, 'Coordinates': (35.6895, 139.6917)}

## Exercise 8: List Operations

Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [61]:
# Print city list from exercise 3

cities

[('New York City', (40.7128, -74.006)),
 ('Los Angeles', (34.0522, -118.2437)),
 ('Chicago', (41.8781, -87.6298)),
 ('Miami', (25.7617, -80.1918))]

In [62]:
# 1. Sort the list of cities alphabetically by name.

# Sort the list alphabetically by city name (first element of each tuple)
sorted_cities = sorted(cities, key=lambda x: x[0])

# Print the sorted list
print(sorted_cities)

[('Chicago', (41.8781, -87.6298)), ('Los Angeles', (34.0522, -118.2437)), ('Miami', (25.7617, -80.1918)), ('New York City', (40.7128, -74.006))]

In [63]:
# 2. Create a new list that contains only the city names.

# Create a new list with only the city names
city_names = [city[0] for city in cities]

# Print the new list
print(city_names)

['New York City', 'Los Angeles', 'Chicago', 'Miami']

In [65]:
# 3. Remove the last city from the original list and print the updated list.

# Use slicing
cities_shortened = cities[0:-1]
cities_shortened

[('New York City', (40.7128, -74.006)),
 ('Los Angeles', (34.0522, -118.2437)),
 ('Chicago', (41.8781, -87.6298))]

## Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key "Length" exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [67]:
# Re-print dictionary from exercise 6

river_info

{'Name': 'Amazon River',
 'Length': 6992,
 'Countries': ['Brazil', 'Peru', 'Colombia'],
 'Average Discharge': 209000}

In [70]:
# 1. Check if the key 'Length' exists in the dictionary

# Use 'if', 'in', and 'else' as logical clauses
if 'Length' in river_info:
    print("Key 'Length' exists in the dictionary.")
else:
    print("Key 'Length' does not exist in the dictionary.")

Key 'Length' exists in the dictionary.

In [71]:
# 2. Print all the keys in the dictionary.

print(river_info.keys())

dict_keys(['Name', 'Length', 'Countries', 'Average Discharge'])

In [72]:
# 3. Print all the values in the dictionary.

print(river_info.values())

dict_values(['Amazon River', 6992, ['Brazil', 'Peru', 'Colombia'], 209000])

## Exercise 10: Practical Application

Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

In [75]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of "K2" using the dictionary.

In [78]:
# 1. Create a new list that contains only the names of the locations.

location_names = [location[0] for location in locations]
print(type(location_names))
location_names

<class 'list'>

['Mount Everest', 'K2', 'Kangchenjunga']

In [79]:
# 2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.

# Logical
location_dict = {location[0]: (location[1], location[2]) for location in locations}
location_dict

{'Mount Everest': (27.9881, 86.925),
 'K2': (35.8808, 76.5155),
 'Kangchenjunga': (27.7025, 88.1475)}

In [81]:
# 3. Print the latitude of "K2" using the dictionary.

# Specify dictionary['key'][value]
print("K2 latitude:", location_dict['K2'][0])

K2 latitude: 35.8808